<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <title>計算結果</title>
</head>
<body>
  直角をはさむ2辺の長さが <%= @edge_a %>と<%= @edge_b %>のとき、 斜辺の長さは<%= @edge_c %>です。
  <form action="back" method="get">
    <input type="submit" name="button1" value="戻る" /><br>
  </form>
</body>